html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

.portfolio-two-details {
  background-image: url("../images/block-1.jpg");
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  width: 100vw;
  height: 70vh;

  &__container {
    padding-top: 70vh;
  }

  &__portfolio-two-header {
    position: relative;
    top: 45vh;
    left: 20vw;
    & h1,
    h2,
    h3,
    h4,
    h5,
    p {
      color: white;
    }
  }

  &__gallery {
    padding: 3rem 0;
  }
}
